$black: #1A1D25;
$white: #ffffff;
$yellow: #FFE711;
$yellow-hover: #eed626;
$light-grey: #F4F4F4;
$inactive-nav-btn-text: #6F767E;
$inactive-nav-btn: #EFEFEF;
$app-background: #EFEFEF;
$red: #2f1616;
$grey-border: #CDCDCD;
$grey: #B0B1B6;
$grey-text: #6F767E;

// Alert Colors
$red-error: mix($red, white, 82.5%);
$green-success: mix(#00A94F, white, 85%);
$blue: #0079C1;