@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/App';

$checkmarkSize: 20px;

.app-checkbox {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  animation: .5s show ease;
  &.disabled {
    opacity: 0.5;
    &__content {
      cursor: default;
    }
  }
  &__content {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &__input {
    appearance: none;
    &:checked + .app-checkbox__checkmark svg {
      opacity: 1;
      display: block;
    }
  }
  &__checkmark {
    width: $checkmarkSize;
    height: $checkmarkSize;
    min-width: $checkmarkSize;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      opacity: 0;
      transition: .3s;
    }
  }
  &__label {
    > span {
      color: $red;
    }
  }
}
